---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Page from "./Page.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<Page title={title} description={description}>
	<article>
		<h1 class="text-4xl">{title}</h1>
		<FormattedDate date={pubDate} />
		<Image src={heroImage} alt="Hero Image" class="rounded-xl w-full my-2" />
		<slot />
	</article>
</Page>
